.form__social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.form__social-media {
  display: flex;
  justify-content: center;
}

.form__social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.875rem;
  width: 2.875rem;
  border: 1px solid #333;
  border-radius: 50%;
  margin: 0 0.45rem;
  color: #333;
  font-size: 1.1rem;
  transition: 0.3s;
}

.form__social-icons:hover {
  color: #d672ec;
  border-color: #d672ec;
}