.form {
  position: absolute;
  top: 50%;
  left: 75%;
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  transition: 1s 0.7s ease-in-out;

  @media all and(max-width: 870px)  {
    width: 100%;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
}

.form__social {
  &-text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }

  &-media {
    display: flex;
    justify-content: center;
  }

  &-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.875rem;
    width: 2.875rem;
    border: 1px solid #474747;
    border-radius: 50%;
    margin: 0 0.45rem;
    color: #474747;
    font-size: 1.1rem;
    transition: 0.3s;

    &:hover {
      color: #e41e51;
      border-color: #e41e51;
      cursor: pointer;
    }
  }
}
