
.progressBarC {
	$seek-before-width: 0;
  $seek-before-color: #ffc2a1;

&::after {
  content: '';
  height: 11px;
  width: $seek-before-width;
  background-color: $seek-before-color;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
}